<!DOCTYPE html>
<html>

<head>

    <title>Upload Project</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>🚀 Autonomous DevSecOps Platform</h1>

    <div class="recommendation">

        <h2>📂 Upload Source Code</h2>

        <form action="/upload"
              method="POST"
              enctype="multipart/form-data">

            <input
                type="file"
                name="project"
                accept=".zip"
                required>

            <br><br>

            <button type="submit">

                Upload Project

            </button>

        </form>

    </div>

</div>

</body>

</html>